{% extends "base.html" %}

{% block title %}{{ NEST_INDEX_HEAD_TITLE }} {% if articles_page.has_previous() %}- page {{ articles_page.number }} {% endif %}- {{ super() }}{% endblock title %}
{% block description %}{{ SITENAME }}, {{ SITESUBTITLE }}{% endblock description %}

{% block headerstyle %}
    {% if NEST_HEADER_IMAGES %}
    <div class="header-container gradient" style="background: linear-gradient(270deg, rgba(27, 49, 212, 0.47) 0%, #1B31D4 100%), url('{{ SITEURL }}/images/{{ NEST_HEADER_IMAGES }}'); background-position: center center; background-size: cover;">
    {% else %}
    <div class="header-container gradient">
    {% endif %}
{% endblock headerstyle %}

{% block header %}
    <div class="container header-wrapper">
        <div class="row">
              <div class="col-lg-9">
                  <div class="header-content">
                    <div class="header-underline"></div>
                    {% if NEST_INDEX_HEADER_SUBTITLE %}
                    <p class="header-subtitle header-subtitle-homepage">{{ NEST_INDEX_HEADER_SUBTITLE }}</p>
                    {% endif %}
                      <h1 class="header-title">{{ NEST_INDEX_HEADER_TITLE }}</h1>
                  </div>
              </div>
        </div>
    </div>
    <div style="position: absolute;
    width: 34px;
    height: 34px;
    left: 50vw;
    top: 90vh;
    border: 4px solid #FFFFFF;
    border-left: none;
    border-top: none;
    box-sizing: border-box;
    transform: rotate(45deg);"></div>
{% endblock header %}

{% block content %}

<div class="sec1">
    <div class="svg-container">
        <svg width="530" height="1252" viewBox="0 0 530 1252" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M-102.035 945.7L-102.035 4.98723e-05L462.552 472.85L-102.035 945.7Z" fill="url(#paint0_linear)"/>
            <path d="M-34.7144 1251.7L-34.7145 306L529.873 778.85L-34.7144 1251.7Z" fill="url(#paint1_linear)"/>
            <path d="M247.269 541.452L272.156 661.978L-52.8449 387.6L-77.7324 267.074L247.269 541.452Z" fill="url(#paint2_linear)"/>
            <defs>
            <linearGradient id="paint0_linear" x1="600.321" y1="273" x2="-301.972" y2="11.0347" gradientUnits="userSpaceOnUse">
            <stop stop-color="white"/>
            <stop offset="1" stop-color="#F0F0F0"/>
            </linearGradient>
            <linearGradient id="paint1_linear" x1="411.821" y1="936.5" x2="-7.31034" y2="403.582" gradientUnits="userSpaceOnUse">
            <stop stop-color="white"/>
            <stop offset="1" stop-color="#F0F0F0"/>
            </linearGradient>
            <linearGradient id="paint2_linear" x1="-97.477" y1="504.672" x2="195.062" y2="346.84" gradientUnits="userSpaceOnUse">
            <stop stop-color="#219BF4"/>
            <stop offset="1" stop-color="#1B31D4"/>
            </linearGradient>
            </defs>
            </svg>                
    </div>
</div>

<div class="container" style="margin-left: 35vw; margin-top: 130px; margin-bottom: 70px;">
    <div class="row">
        <div>
            <p class="main-title">What We Do</p>
        </div>
    </div>
    <div class="row">
        <a href="{{SITEURL}}/lesson" class="">
            <div class="col-lg-3 module slideup">
                <h2>Micro-lessons on Bias</h2>
                <p>Bite-sized lessons on what bias is, how to recognize it, and why new habits can overcome it.</p>
                <a class="cta">Try a Lesson</a>
            </div>
        </a>
        <a href="{{SITEURL}}/practices" class="">
            <div class="col-lg-3 module slideright">
                <h2>Daily Practices</h2>
                <p>Bite-sized lessons on what bias is, how to recognize it, and why it’s a habit that can broken.</p>
                <a class="cta">Try a Practice</a>
            </div>
        </a>
    </div>
    <div class="row">
        <a href="{{SITEURL}}/feedback" class="">
            <div class="col-lg-3 module slideleft">            
                <h2>Real World Feedback</h2>
                <p>Bite-sized lessons on what bias is, how to recognize it, and why it’s a habit that can broken.</p>
                <a class="cta">See How it Works</a>
            </div>
        </a> 
        <a href="{{SITEURL}}/research" class="">
            <div class="col-lg-3 module slideup">
                <h2>Grounded in Science</h2>
                <p>Bite-sized lessons on what bias is, how to recognize it, and why it’s a habit that can broken.</p>
                <a class="cta">See the Research</a>
            </div>
        </a>
    </div>
</div>

<div class="sec1">
    <div class="svg-container-right">
        <svg width="1441" height="1157" viewBox="0 0 1441 1157" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.5" d="M1440.32 252.633V1087H-16.6901L1440.32 0V252.633Z" fill="url(#paint0_linear)"/>
            <path d="M322.886 894.034L332.583 894.035L-7.30283 1149.77L-17 1149.77L152.943 1021.9L322.886 894.034Z" fill="url(#paint2_linear)"/>
            <!-- paint1_linear -->
            <path d="M1663.15 369.722V1112H314.219L1663.15 89V369.722Z" fill="url(#paint1_linear)"/>
            <g filter="url(#filter0_d)">
            <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="865" y="202" width="458" height="458">
            <rect x="865.29" y="202.29" width="457.71" height="457.71" fill="#C4C4C4"/>
            </mask>
            <g mask="url(#mask0)">
            <g filter="url(#filter1_d)">
            <rect x="865.29" y="202.29" width="457.71" height="457.71" fill="url(#paint3_linear)"/>
            </g>
            <path opacity="0.1" d="M1499.63 373.828V750.613H813.752L1499.63 231.332V373.828Z" fill="url(#paint4_linear)"/>
            </g>
            </g>
            <circle cx="1055.58" cy="505.568" r="6.06848" fill="white"/>
            <circle cx="1055.58" cy="435.781" r="6.06848" fill="white"/>
            <circle cx="1055.58" cy="575.356" r="6.06848" fill="white"/>
            <circle cx="1055.58" cy="400.887" r="6.06848" fill="white"/>
            <circle cx="1055.58" cy="540.462" r="6.06848" fill="white"/>
            <circle cx="1055.58" cy="470.674" r="6.06848" fill="white"/>
            <circle cx="1055.58" cy="610.25" r="6.06848" fill="white"/>
            <circle cx="1195.16" cy="365.993" r="6.06848" fill="white"/>
            <circle cx="1195.16" cy="505.568" r="6.06848" fill="white"/>
            <circle cx="1195.16" cy="435.781" r="6.06848" fill="white"/>
            <circle cx="1195.16" cy="575.356" r="6.06848" fill="white"/>
            <circle cx="1195.16" cy="400.887" r="6.06848" fill="white"/>
            <circle cx="1195.16" cy="540.462" r="6.06848" fill="white"/>
            <circle cx="1195.16" cy="470.674" r="6.06848" fill="white"/>
            <circle cx="1195.16" cy="610.25" r="6.06848" fill="white"/>
            <circle cx="1125.37" cy="365.993" r="6.06848" fill="white"/>
            <circle cx="1125.37" cy="505.568" r="6.06848" fill="white"/>
            <circle cx="1125.37" cy="435.781" r="6.06848" fill="white"/>
            <circle cx="1125.37" cy="575.356" r="6.06848" fill="white"/>
            <circle cx="1125.37" cy="400.887" r="6.06848" fill="white"/>
            <circle cx="1125.37" cy="540.462" r="6.06848" fill="white"/>
            <circle cx="1125.37" cy="470.674" r="6.06848" fill="white"/>
            <circle cx="1125.37" cy="610.25" r="6.06848" fill="white"/>
            <circle cx="1264.94" cy="365.993" r="6.06848" fill="white"/>
            <circle cx="1264.94" cy="505.568" r="6.06848" fill="white"/>
            <circle cx="1264.94" cy="435.781" r="6.06848" fill="white"/>
            <circle cx="1264.94" cy="575.356" r="6.06848" fill="white"/>
            <circle cx="1264.94" cy="400.887" r="6.06848" fill="white"/>
            <circle cx="1264.94" cy="540.462" r="6.06848" fill="white"/>
            <circle cx="1264.94" cy="470.674" r="6.06848" fill="white"/>
            <circle cx="1264.94" cy="610.25" r="6.06848" fill="white"/>
            <circle cx="1090.48" cy="365.993" r="6.06848" fill="white"/>
            <circle cx="1055.58" cy="365.993" r="6.06848" fill="white"/>
            <circle cx="1090.48" cy="505.568" r="6.06848" fill="white"/>
            <circle cx="1090.48" cy="435.781" r="6.06848" fill="white"/>
            <circle cx="1090.48" cy="575.356" r="6.06848" fill="white"/>
            <circle cx="1090.48" cy="400.887" r="6.06848" fill="white"/>
            <circle cx="1090.48" cy="540.462" r="6.06848" fill="white"/>
            <circle cx="1090.48" cy="470.674" r="6.06848" fill="white"/>
            <circle cx="1090.48" cy="610.25" r="6.06848" fill="white"/>
            <circle cx="1230.05" cy="365.993" r="6.06848" fill="white"/>
            <circle cx="1230.05" cy="505.568" r="6.06848" fill="white"/>
            <circle cx="1230.05" cy="435.781" r="6.06848" fill="white"/>
            <circle cx="1230.05" cy="575.356" r="6.06848" fill="white"/>
            <circle cx="1230.05" cy="400.887" r="6.06848" fill="white"/>
            <circle cx="1230.05" cy="540.462" r="6.06848" fill="white"/>
            <circle cx="1230.05" cy="470.674" r="6.06848" fill="white"/>
            <circle cx="1230.05" cy="610.25" r="6.06848" fill="white"/>
            <circle cx="1160.26" cy="365.993" r="6.06848" fill="white"/>
            <circle cx="1160.26" cy="505.568" r="6.06848" fill="white"/>
            <circle cx="1160.26" cy="435.781" r="6.06848" fill="white"/>
            <circle cx="1160.26" cy="575.356" r="6.06848" fill="white"/>
            <circle cx="1160.26" cy="400.887" r="6.06848" fill="white"/>
            <circle cx="1160.26" cy="540.462" r="6.06848" fill="white"/>
            <circle cx="1160.26" cy="470.674" r="6.06848" fill="white"/>
            <circle cx="1160.26" cy="610.25" r="6.06848" fill="white"/>
            <circle cx="1299.84" cy="365.993" r="6.06848" fill="white"/>
            <circle cx="1299.84" cy="505.568" r="6.06848" fill="white"/>
            <circle cx="1299.84" cy="435.781" r="6.06848" fill="white"/>
            <circle cx="1299.84" cy="575.356" r="6.06848" fill="white"/>
            <circle cx="1299.84" cy="400.887" r="6.06848" fill="white"/>
            <circle cx="1299.84" cy="540.462" r="6.06848" fill="white"/>
            <circle cx="1299.84" cy="470.674" r="6.06848" fill="white"/>
            <circle cx="1299.84" cy="610.25" r="6.06848" fill="white"/>
            <g class="arrows">
                <path d="M969.581 340.951C946.123 357.696 917.36 365.305 888.69 362.351C860.02 359.397 833.413 346.082 813.862 324.906L842.218 325.621L842.551 312.105L792.743 310.842L791.435 361.806L804.97 362.166L805.634 335.887C826.393 357.638 853.976 371.623 883.791 375.514C913.605 379.405 943.853 372.967 969.499 357.272C995.145 341.577 1014.64 317.572 1024.74 289.252C1034.85 260.933 1034.94 230.007 1025.02 201.624L1012.27 206.069C1020.57 230.157 1020.9 256.274 1013.21 280.563C1005.52 304.852 990.227 326.024 969.581 340.951Z" fill="url(#paint5_linear)"/>
                <path d="M831.929 149.092C855.397 132.332 884.177 124.718 912.862 127.679C941.548 130.64 968.165 143.973 987.715 165.172L959.191 164.454L958.857 177.969L1008.67 179.232L1010.01 128.324L996.478 127.963L995.872 154.034C975.082 132.348 947.497 118.426 917.702 114.584C887.906 110.741 857.692 117.208 832.08 132.91C806.468 148.612 786.998 172.604 776.906 200.901C766.814 229.198 766.707 260.096 776.603 288.462L789.381 283.997C781.063 259.921 780.709 233.808 788.37 209.516C796.032 185.223 811.304 164.039 831.929 149.092Z" fill="url(#paint5_linear)"/>
            </g>
            <defs>
            <filter id="filter0_d" x="841.29" y="184.29" width="517.71" height="517.71" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
            <feOffset dx="6" dy="12"/>
            <feGaussianBlur stdDeviation="15"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0.72849 0 0 0 0 0.815874 0 0 0 0 0.8875 0 0 0 1 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
            </filter>
            <filter id="filter1_d" x="847.29" y="184.29" width="517.71" height="517.71" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
            <feOffset dx="12" dy="12"/>
            <feGaussianBlur stdDeviation="15"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0.76924 0 0 0 0 0.795304 0 0 0 0 0.816667 0 0 0 1 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
            </filter>
            <linearGradient id="paint0_linear" x1="-16.6901" y1="1087" x2="1693.66" y2="798.967" gradientUnits="userSpaceOnUse">
            <stop stop-color="white"/>
            <stop offset="0.877725" stop-color="#F0F0F0"/>
            </linearGradient>
            <linearGradient id="paint1_linear" x1="241.404" y1="1172.95" x2="-23.1049" y2="929.006" gradientUnits="userSpaceOnUse">
            <stop stop-color="#219BF4"/>
            <stop offset="1" stop-color="#1B31D4"/>
            </linearGradient>
            <linearGradient id="paint2_linear" x1="1450.01" y1="1520" x2="1649.53" y2="236.938" gradientUnits="userSpaceOnUse">
            <stop offset="0.347903" stop-color="white"/>
            <stop offset="0.572917" stop-color="#F4F4F4"/>
            <stop offset="0.885964" stop-color="#F7F7F7"/>
            </linearGradient>
            <linearGradient id="paint3_linear" x1="1094.14" y1="777.362" x2="846.307" y2="302.225" gradientUnits="userSpaceOnUse">
            <stop stop-color="#219BF4"/>
            <stop offset="1" stop-color="#1B31D4"/>
            </linearGradient>
            <linearGradient id="paint4_linear" x1="1391.25" y1="957.716" x2="1492.37" y2="306.375" gradientUnits="userSpaceOnUse">
            <stop offset="0.347903" stop-color="white"/>
            <stop offset="0.572917" stop-color="#F4F4F4"/>
            <stop offset="0.885964" stop-color="#F7F7F7"/>
            </linearGradient>
            <linearGradient id="paint5_linear" x1="986.136" y1="390.303" x2="847.515" y2="274.928" gradientUnits="userSpaceOnUse">
            <stop stop-color="#219BF4"/>
            <stop offset="1" stop-color="#1B31D4"/>
            </linearGradient>
            <linearGradient id="paint6_linear" x1="939.761" y1="273.14" x2="801.347" y2="157.892" gradientUnits="userSpaceOnUse">
            <stop stop-color="#219BF4"/>
            <stop offset="1" stop-color="#1B31D4"/>
            </linearGradient>
            </defs>
            </svg>
            
</div>
</div>


<div class="container" style="margin-top: 170px; margin-bottom: 70px;">
    <div class="row">
        <div class='col-lg-offset-2 col-lg-5'>
            <p class="main-title-bigger" style="z-index: 101; ">We've created science-backed tools to change manager behaviour.</p>
            <div class="orange-button" style="float: left; margin-left: 0;">
                <a href="">Join the Pilot</a>
            </div>
        </div>
    </div>
</div>


<div class="container" style="margin-top: 170px; margin-bottom: 70px; z-index: 1002;">
    <div class="row">
        <div class='col-lg-offset-5 col-lg'>
            <p class="secondary-title">Our Tools</p>
        </div>
    </div>
    <div class="row text-center">
        <a href="{{SITEURL}}/nudge"><div class="col-md-4 text-center">
            <div class="tool-card text-center module slideup">
                <h3>EQ Nudge</h3>
                <h4>APP</h4>
                <p class="ma40">Vestibulum rhoncus, ipsum in hendrerit tempor, est sem cursus velit, sit amet eleifend odio erat eget.</p>
                <a class="cta">See How it Works</a>
            </div>
        </div></a>
        <a href="{{SITEURL}}/words"><div class="col-md-4 text-center">
            <div class="tool-card text-center module slideup">
                <h3>EQ Words</h3>
                <h4>Email Plugin</h4>
                <p class="ma40">Vestibulum rhoncus, ipsum in hendrerit tempor, est sem cursus velit, sit amet eleifend odio erat eget.</p>
                <a class="cta">See In Action</a>
            </div>
        </div></a>
        <a href="{{SITEURL}}/daily"><div class="col-md-4 text-center">
            <div class="tool-card text-center module slideup">
                <h3>EQ Daily</h3>
                <h4>Browser Extension</h4>
                <p class="ma40">Vestibulum rhoncus, ipsum in hendrerit tempor, est sem cursus velit, sit amet eleifend odio erat eget.</p>
                <a class="cta">Try it out</a>
            </div>
        </div></a>
    </div>
</div>

<div class="container" style="margin-top: 50px; margin-bottom: 70px; z-index: 1002; width: 100%;">
    <div class="row">
        <div class='col-lg-offset-5 col-lg-2 text-center'>
            <div class="orange-button" style="float: none; margin-left: 0;">
                <a href="">Join the Pilot</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


<!-- 
<div class="archive-container">
    <div class="container content archive">
        <h2><a href="{{ SITEURL }}/">{{ NEST_INDEX_CONTENT_TITLE }}</a></h2>
        <dl class="dl-horizontal">
            {% for article in articles %}
            <dt>{{ article.locale_date}}</dt>
            <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
            {% endfor %}
        </dl>
    </div>
</div> 
-->