{% extends "base.html" %}

{% block title %}{{ NEST_INDEX_HEAD_TITLE }} {% if articles_page.has_previous() %}- page {{ articles_page.number }} {% endif %}- {{ super() }}{% endblock title %}
{% block description %}{{ SITENAME }}, {{ SITESUBTITLE }}{% endblock description %}

{% block headerstyle %}
    {% if NEST_HEADER_IMAGES %}
    <div class="header-container gradient" style="background: linear-gradient(270deg, rgba(27, 49, 212, 0.47) 0%, #1B31D4 100%), url('{{ SITEURL }}/images/{{ NEST_HEADER_IMAGES }}'); background-position: center center; background-size: cover;">
    {% else %}
    <div class="header-container gradient">
    {% endif %}
{% endblock headerstyle %}

{% block header %}
    <div class="container header-wrapper">
        <div class="row">
              <div class="col-lg-9">
                  <div class="header-content">
                    <div class="header-underline"></div>
                    {% if NEST_INDEX_HEADER_SUBTITLE %}
                    <p class="header-subtitle header-subtitle-homepage">{{ NEST_INDEX_HEADER_SUBTITLE }}</p>
                    {% endif %}
                      <h1 class="header-title">{{ NEST_INDEX_HEADER_TITLE }}</h1>
                  </div>
              </div>
        </div>
    </div>
    <div style="position: absolute;
    width: 34px;
    height: 34px;
    left: 50vw;
    top: 90vh;
    border: 4px solid #FFFFFF;
    border-left: none;
    border-top: none;
    box-sizing: border-box;
    transform: rotate(45deg);"></div>
{% endblock header %}

{% block content %}
    <div class="archive-container">
        <div class="container content archive">
            <h2><a href="{{ SITEURL }}/">{{ NEST_INDEX_CONTENT_TITLE }}</a></h2>
            <dl class="dl-horizontal">
                {% for article in articles %}
                <dt>{{ article.locale_date}}</dt>
                <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
                {% endfor %}
            </dl>
        </div>
    </div>
{% endblock content %}
