{% extends "base.html" %}

{% block title %}{{ page.title }} - {{ super() }}{% endblock title %}
{% block description %}{{ page.content|striptags|truncate(200)|escape }}{% endblock description %}

{% block bodyprops %}{% if page.backurl %} style="background: url('{{ page.backurl }}');"{% endif %}{% endblock %}

{% block headerstyle %}
    {% if page.illustration %}
    <div class="header-container gradient" style="background: linear-gradient(270deg, rgba(27, 49, 212, 0.47) 0%, #1B31D4 100%), url('{{ SITEURL }}/images/{{ page.illustration }}'); background-position: top center; background-size: cover; ">
    {% elif NEST_HEADER_IMAGES %}
    <div class="header-container gradient" style="background: linear-gradient(270deg, rgba(27, 49, 212, 0.47) 0%, #1B31D4 100%), url('{{ SITEURL }}/images/{{ NEST_HEADER_IMAGES }}'); background-position: top center; background-size: cover;">
    {% else %}
    <div class="header-container gradient">
    {% endif %}
{% endblock headerstyle %}

{% block header %}
    <div class="container header-wrapper">
        <div class="row">
              <div class="col-lg-9">
                  <div class="header-content">
                    {% if page.headersubtitle %}
                    <div class="header-underline"></div>
                    <p class="header-subtitle header-subtitle-homepage">{{ page.headersubtitle | upper }}</p>
                    {% endif %}
                      <h1 class="header-title">{{ page.headertitle }}</h1>
                  </div>
              </div>
        </div>
    </div>
{% endblock header %}

{% block content %}

{% if page.maintitle %}
<div class="container mt-5 mb-5">
    <div class="row">
        <div >
            <p class="main-title">{{ page.maintitle }}</p>
        </div>
    </div>
</div>
{% endif %}

<div class="container">
        {{ page.content }}
</div>

{% endblock %}

